.modal-dialog {
	top: 50% !important;
	transform: translateY(-50%) !important;
}
.modal-header {
	border: none;
}
.modal-footer {
	border: none;
	padding: 0px 40px 35px 40px;
}
.modal-body {
	width: 80%;
	margin: 100px auto 0px;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}
.modal__button {
	width: 100%;
	text-align: center;
	cursor: pointer;
	margin-bottom: 5px;
	span {
		text-align: center;
		font-weight: 700;
		color: #fff;
		padding: 8px 43px;
		width: 363px;
		height: 56px;
		background: linear-gradient(83.47deg, #58cc02 9.02%, #23ac38 90.81%);
		box-shadow: 0px 4px 0px #209b32;
		border-radius: 100px;
	}
}
.modal__button_register {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	cursor: pointer;
	span {
		text-align: center;
		font-weight: 700;
		padding: 8px 18px;
		width: 263px;
		height: 56px;
		background-color: #fef8f4;
		box-shadow: 0px 4px 0px #d0cccb;
		border-radius: 100px;
		font-family: 'Quicksand';
		font-style: normal;
		font-size: 17px;
	}
}
.modal-content {
	width: 490px;
	border-radius: 20px;
	z-index: 111111111111111111111111111 !important;
}
.mochi__close {
	position: absolute;
	right: -21px;
	top: -21px;
	cursor: pointer;
}
@media only screen and (max-width: 768px) {
	.modal-dialog {
		top: 25% !important;
	}

	.modal-content {
		transform: translateX(-50%);
		width: 105%;
		height: 348px;
		position: absolute;
		top: 18px;
		left: 50%;
		background-color: #979797;
		height: auto;
	}
	.modal-body {
		font-size: 19px;
		margin: 50px auto 0px;
		width: 100%;
	}
	.modal__mochi__logo {
		width: 176px !important;
		height: auto !important;
		top: -100px !important;
		left: 45%;
		transform: translateX(-50%);
	}
	.mochi__close {
		position: absolute;
		top: -19px;
		right: 6px;
	}
	.modal_text {
		margin-top: 15px;
		font-size: 24px;
		margin-bottom: 25px;
	}
	.modal__button {
		width: 100%;
		text-align: center;
		cursor: pointer;
		margin-bottom: 15px;
		span {
			font-size: 23px;
			padding: 13px 51px;
		}
	}
	.modal__button_register {
		span {
			font-size: 22px;
			padding: 13px 19px;
		}
	}
}

@media only screen and (max-width: 600px) {
	// .modal-dialog {
	//     max-width: calc(100% - 40px);
	// }

	.modal-content {
		width: 525px;
		max-width: calc(100% - 40px);
	}

	.modal_text {
		font-size: 18px;
		padding: 0 15px;
	}

	.modal-footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.modal__button span {
		font-size: 18px;
	}

	.modal__button_register span {
		font-size: 18px;
	}
}
.modal_text {
	// margin-top: 15px;
	// font-size: 24px;
	// margin-bottom: 25px;
	font-size: 18px;
	padding: 0 15px;
}
